.page-main {
  position: relative;

  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5%;
  width: 100%;
  min-height: 100vh;

  @media (min-width: 768px) {
    background-image: url("../img/bg@small.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;
  }
  @media (min-width: 1000px) {
    background-image: url("../img/bg@medium.jpg");
  }
  @media (min-width: 1350px) {
    background-image: url("../img/bg@full.jpg");
  }
}

.page-main__wrapper {
  position: relative;

  display: flex;
  flex-flow: column;
  align-items: flex-start;

  padding: 0;
  margin: 0;

  list-style: none;
}

.page-main__list-item {
  position: relative;
  overflow: hidden;


  padding-bottom: 1em;
}

.page-main__description {
  max-width: 400px;

  &--italic {
    font-style: italic;
  }
}

.page-main__icon {
  width: 2em;
  height: 2em;

  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.8;
  }
}
